{% extends 'app/base.html' %}
{% load static %}
{% block title %} Cart {% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        {% if cart %}
        <h1 class="text-center mb-5">Shopping Cart</h1>
        <div class="col-lg-8 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h3 class="mb-4">Cart Items</h3>
                    {% for item in cart %}
                    <div class="row mb-4">
                        <div class="col-sm-3 text-center align-self-center">
                            <img src="{{ item.product.product_image.url }}" alt="{{ item.product.title }}" class="img-fluid img-thumbnail shadow-sm" height="150" width="150">
                        </div>
                        <div class="col-sm-9">
                            <h5>{{ item.product.title }}</h5>
                            <p class="mb-2 text-muted small">{{ item.product.description }}</p>
                            <div class="d-flex align-items-center my-3">
                                <label class="me-2" for="quantity">Quantity:</label>
                                <a class="minus-cart btn" pid="{{ item.product.id }}"><i class="fas fa-minus-square fa-lg"></i></a>
                                <span id="quantity" class="mx-2">{{ item.quantity }}</span>
                                <a class="plus-cart btn" pid="{{ item.product.id }}"><i class="fa fa-plus-square fa-lg"></i></a>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <a href="#" class="remove-cart btn btn-outline-danger btn-sm" pid="{{ item.product.id }}">Remove item</a>
                                <p class="mb-0"><strong>Rs. {{ item.product.discounted_price }}</strong></p>
                            </div>
                            <hr class="text-muted">
                        </div>
                    </div>
                    
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h3>Order Summary</h3>
                    <ul class="list-group mb-4">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Subtotal <span id="amount">Rs. {{ amount }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Shipping <span>Rs. 40.00</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <strong>Total (including GST)</strong> 
                            <span id="totalamount"><strong>Rs. {{ totalamount }}</strong></span>
                        </li>
                    </ul>
                    <div class="d-grid">
                        <a href="{% url 'checkout' %}" class="btn btn-primary btn-lg">Place Order</a>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-12">
            <h1 class="text-center mb-5">Your Cart is Empty</h1>
            <div class="text-center">
                <a href="/" class="btn btn-outline-primary">Continue Shopping</a>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock main-content %}
